{# Menggunakan layout utama agar struktur halaman konsisten #}
{% extends "layouts.html" %}

{# Menetapkan judul halaman pada tab browser #}
{% block title %} 
  pdf
{% endblock title %}

{# Blok konten utama halaman #}
{% block content %}
<h1>Gambar ke PDF Converter</h1>

{# Form upload untuk memilih satu atau beberapa gambar yang akan dikonversi #}
<form method="POST" enctype="multipart/form-data">
  
    {# Label untuk input gambar #}
    <label for="images">Pilih satu atau beberapa gambar:</label><br>
    
    {# Input file dengan atribut multiple untuk memungkinkan pemilihan banyak gambar #}
    <input 
      type="file" 
      id="images" 
      name="images" 
      accept="image/*" 
      multiple 
      required><br><br>