{# Menggunakan layout utama agar struktur halaman konsisten #}
{% extends "layouts.html" %}

{# Menetapkan judul halaman pada tab browser #}
{% block title %} 

  IMAGE to PDF
{% endblock title %}

{# Blok konten utama halaman #}
{% block content %}

  {# Kontainer untuk menengahkan konten secara vertikal dan horizontal #}
  <div class="d-flex justify-content-center align-items-center">
    
    {# Kartu sebagai wadah utama form upload dan hasil konversi #}
    <div class="card" style="width: 40%">
      
      {# Header kartu yang menampilkan judul form #}
      <div class="card-header text-center">
        <h1>GAMBAR KE PDF CONVERTER</h1>
      </div>

      