{# Menggunakan layout utama agar struktur halaman konsisten #}
{% extends "layouts.html" %}

{# Menetapkan judul halaman pada tab browser #}
{% block title %} 
  IMAGE ENHANCEMENT
{% endblock title %}

{# Blok konten utama halaman #}
{% block content %}
  {# Kontainer untuk menengahkan konten secara vertikal dan horizontal #}
  <div class="d-flex justify-content-center align-items-center">
    
    {# Kartu sebagai wadah utama form upload dan hasil enhancement #}
    <div class="card" style="width: 40%">
      
      {# Header kartu yang menampilkan judul form #}
      <div class="card-header text-center">
        <h1>IMAGE ENHANCEMENT</h1>
      </div>

      {# Bagian utama kartu berisi form dan hasil enhancement (jika ada) #}
      <div class="card-body">
        
        {# Formulir upload file untuk diproses #}
        <form class="text-center" method="post" enctype="multipart/form-data">
          <input class="form-control" type="file" name="file" required accept="mimes:.png,.jpeg,.jpg" />
          <button type="submit" class="btn btn-primary mt-2">Enhance</button>
        </form>

        {# Jika hasil enhancement tersedia, tampilkan #}
        <div style="overflow-y: scroll;height:70vh">
        {% if image_data %}
          <div class="text-center mt-3">
            <h4>Result:</h4>
            
            <div class="row">
              <div class="col">
                <h5>Sebelum:</h5>
                <img src="data:image/jpeg;base64,{{ original_image_data }}" class="img-fluid" style="max-width: 100%" />
              </div>
              <div class="col">
                <h5>Sesudah:</h5>
                <img src="data:image/jpeg;base64,{{ image_data }}" class="img-fluid" style="max-width: 100%" />
              </div>
            </div>

            <br />
            <a href="{{ download_url }}" download class="btn btn-success">Download Image</a>
          </div>

          <div class="mt-4">
            <h5>Matrix 5x5 :</h5>
            <div class="row">
              <div class="col">
                <h6>Before:</h6>
                <pre>
        {% for row in original_snippet %}
        {{ row }}
        {% endfor %}
                </pre>
              </div>
              <div class="col">
                <h6>After:</h6>
                <pre>
        {% for row in enhanced_snippet %}
        {{ row }}
        {% endfor %}
                </pre>
              </div>
            </div>
          </div>
        {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}