{% extends "layouts.html" %}

{% block title %}Fitur Projek Citra{% endblock %}

{% block content %}
<div class="container py-5">
  <h1 class="section-title text-center mb-5">Our Features</h1>
  
  <div class="row">
    <!-- Image Enhancement -->
    <div class="col-md-6 col-lg-3 mb-4">
      <div class="feature-card h-100" id="image-enhancement">
        <div class="card-header text-center">
          <i class="fas fa-magic card-icon"></i>
          <h3>Image Enhancement</h3>
        </div>
        <div class="card-body">
          <p>Give your images a fresh look ,sharper, clearer, and more vibrant in seconds with our enhancement tool</p>
          <a href="{{url_for('enhance_image')}}" class="btn btn-primary w-100">Try Now</a>
        </div>
      </div>
    </div>
    
    <!-- Remove Background -->
    <div class="col-md-6 col-lg-3 mb-4">
      <div class="feature-card h-100" id="remove-background">
        <div class="card-header text-center">
          <i class="fas fa-cut card-icon"></i>
          <h3>Remove Background</h3>
        </div>
        <div class="card-body">
          <p>Need a clean subject image? Instantly remove the background for cleaner, more professional visuals</p>
          <a href="{{url_for('remove_background')}}" class="btn btn-primary w-100">Try Now</a>
        </div>
      </div>
    </div>
    
    <!-- IMAGE to PDF -->
    <div class="col-md-6 col-lg-3 mb-4">
      <div class="feature-card h-100" id="image-to-pdf">
        <div class="card-header text-center">
          <i class="fas fa-file-pdf card-icon"></i>
          <h3>IMAGE to PDF</h3>
        </div>
        <div class="card-body">
          <p>Turn multiple images into a single PDF effortlessly perfect for reports, assignments, or archives</p>
          <a href="{{url_for('convert_to_pdf')}}" class="btn btn-primary w-100">Try Now</a>
        </div>
      </div>
    </div>
    
    <!-- OCR -->
    <div class="col-md-6 col-lg-3 mb-4">
      <div class="feature-card h-100" id="ocr">
        <div class="card-header text-center">
          <i class="fas fa-text-height card-icon"></i>
          <h3>OCR Results</h3>
        </div>
        <div class="card-body">
          <p>Extract text from images with our Optical Character Recognition.</p>
          <a href="{{url_for('index_ocr')}}" class="btn btn-primary w-100">Try Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}