{# Menggunakan layout utama agar struktur halaman tetap konsisten #}
{% extends "layouts.html" %}

{# Menetapkan judul halaman yang muncul di tab browser #}
{% block title %} 
  OCR 
{% endblock title %}

{# Blok konten utama halaman #}
{% block content %}
  {# Kontainer untuk menengahkan konten secara vertikal dan horizontal #}
  <div class="d-flex justify-content-center align-items-center">
    
    {# Kartu sebagai wadah utama form upload dan hasil OCR #}
    <div class="card" style="width: 40%">
      
      {# Header kartu yang menampilkan judul form #}
      <div class="card-header text-center">
        <h1>UPLOAD DOCUMENT</h1>
      </div>

      {# Bagian utama kartu berisi form dan hasil OCR (jika ada) #}
      <div class="card-body">
        
        {# Formulir upload file untuk diproses oleh OCR. Menggunakan POST dan mendukung file upload #}
        <form class="text-center" method="post" enctype="multipart/form-data">
          <input class="form-control" type="file" name="file" required accept="application/pdf" />
          <button type="submit" class="btn btn-primary mt-2">OCR Proccess</button>
        </form>
        {# Jika teks hasil OCR tersedia, tampilkan dengan tag <pre> agar format teks terjaga #}
          <div style="overflow-y: scroll;height:70vh">
            {% if extracted_text %}
              <div class="text-center">
                <h2>Results :</h2>
              </div>
              <pre>{{ extracted_text }}</pre>
            {% endif %}
          </div>
          
        </div>
      </div>
    </div>
  {% endblock content %}
  