{# Menggunakan layout utama agar konsisten dengan halaman lain #}
{% extends "layouts.html" %}

{# Menetapkan judul halaman yang akan tampil di tab browser #}
{% block title %} 
  Beranda 
{% endblock title %}

{# Blok konten utama halaman #}
{% block content %}
  {# Kontainer dengan gaya flex untuk menengahkan konten secara vertikal dan horizontal #}
  <div class="d-flex justify-content-center align-items-center" style="height: 80vh">
    
    {# Kartu utama berisi nama-nama anggota kelompok #}
    <div class="card text-center" style="width: 40%">

      {# Header kartu menampilkan nama kelompok #}
      <div class="card-header">
        <h1>KELOMPOK III</h1>
      </div>

      {# Bagian isi kartu menampilkan daftar nama anggota kelompok #}
      <div class="card-body">
        <ul style="list-style-type: none">
          <li>YAYAN GISNA YUDASTI</li>
          <li>MUHAMMAD SAFRIL</li>
          <li>MUHAMMAD IZHAR</li>
          <li>FALAH ZIKRI</li>
          <li>ZAKIATUL BALQIS MAWADDA AZZAHRA</li>
        </ul>
      </div>
      
    </div>
  </div>
{% endblock content %}
