{# Menggunakan layout dasar untuk konsistensi tampilan halaman #}
{% extends "layouts.html" %}

{# Menetapkan judul halaman yang muncul di tab browser #}
{% block title %}
  Hapus Background
{% endblock title %}

{# Blok konten utama halaman #}
{% block content %}
  <div class="d-flex justify-content-center align-items-center">
    
    <div class="card" style="width: 40%">
      
      <div class="card-header text-center">
        <h1>HAPUS BACKGROUND GAMBAR</h1>
      </div>

      <div class="card-body">
        
        <form class="text-center" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label>Upload gambar:</label>
            <input class="form-control" type="file" name="file" accept="image/*" required />
          </div>
          <button type="submit" class="btn btn-primary mt-2">Hapus Background</button>
        </form>

        <div style="overflow-y: scroll;height:70vh">
          {% if image_path and original_image_path %}
            <div class="text-center mt-3">
              <h4>Hasil:</h4>
              <div class="row">
                <div class="col-md-6">
                  <p><strong>Sebelum:</strong></p>
                  <img src="{{ original_image_path }}" alt="Gambar Asli" class="img-fluid" style="max-width: 100%" />
                </div>
                <div class="col-md-6">
                  <p><strong>Sesudah:</strong></p>
                  <img src="{{ image_path }}" alt="Gambar Tanpa Background" class="img-fluid" style="max-width: 100%" />
                </div>
              </div>
              <br />
              <a href="{{ image_path }}" download="{{ download_filename }}" class="btn btn-success">
                Download Hasil
              </a>
            </div>
          {% endif %}
        </div>

          
      </div>
    </div>
  </div>
{% endblock content %}